body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
form {
  width: 60%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.container {
  display: flex;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
audio {
  position: absolute;
  top: -10px;
  opacity: 0;
  pointer-events: none;
}
