* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e6e8ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container {
  max-width: 100%;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
form input[type="text"],
form #calc-method {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.05rem;
}
form #calc-method {
  cursor: pointer;
  transition: 0.5s;
}

form input[type="submit"] {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid lightblue;
  transition: 0.5s;
  margin-top: 1.5rem;
  cursor: pointer;
}

form input[type="submit"]:hover,
form #calc-method:hover {
  background-color: lightblue;
  /* color: white; */
}

.pray-timings {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}
.pray-timings li {
  padding: 0.5rem;
}
.closest-prayer {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.closest-prayer .name,
.closest-prayer .time {
  color: #1a8f1a;
}
audio {
  position: absolute;
  top: -10px;
  opacity: 0;
  pointer-events: none;
}
